<!DOCTYPE html>
<html>
	<head>
		<title>1stdibs Form</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Bootstrap -->
		<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="stylesheet.css" rel="stylesheet" type="text/css">
	</head>

    <body>
        <div id="container"></div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
        <script src="http://documentcloud.github.com/backbone/backbone-min.js"></script>
        <script src="/bootstrap/js/bootstrap.min.js"></script>
        <script src="/js/models/Item.js"></script>
        <script src="/js/views/Item.js"></script>

        <script type="text/template" class="template" id="tmplTextInput">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-1">
                    <br>
                    <label for="title"><strong>Title</strong></label>
                    <input type="text" data-title="title" class="form-control" name="inputTexts">

                    <label><strong>Description</strong></label>
                    <textarea rows="6" data-title="description" class="form-control" name="inputTexts"></textarea>

                    <label><strong>Internal notes</strong></label>
                    <textarea data-title="dealerInternalNotes" class="form-control" name="inputTexts"></textarea>
                </div>
            </div>
        </script>

        <script type="text/template" class="template" id="tmplMaterials">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-1">

                    <h5>Materials</h5>
                    <div class="btn-group">
                        <!-- Adds in the materials -->
                        <select class="form-control" data-materiallist="materiallist" ">
                            <option selected disabled>Select...</option>
                            <% for (var i = 0; i < obj.enums.material.length; i++){ %>
                            <% var x = obj.enums.material[i]%>
                                <option class="materials"> <%= x %> </option>
                            <% }; %>
                        </select>
                    </div>

                    <br><br><input type="checkbox"><strong>  Check this box</strong> if the listing contains or may contain restricted material

                </div>
            </div>
        </script>

        <script type="text/template" class="template" id="tmplMeasurements">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-1">
                    <br>
                    <p><strong>Measurements</strong></p>
                    <div>
                        <!--Adds in Units options-->
                        <p class="inlinepadding">Measurements are in:</p>
                        <%for(var i in obj.enums.measurement.unit) { %>
                            <% var attr = obj.enums.measurement.unit[i];%>
                            <% var cap = attr.charAt(0).toUpperCase() + attr.substr(1, attr.length) %>
                            <% var attrCap = cap + " (" + i + ")";%>
                            <input type="radio" name="unit" data-unit="<%= i %>" id="radio<%= cap %>"> <%= attrCap %>
                        <%}%>
                    </div>
                    <div>
                        <!--Adds in Shapes options-->
                        <p class="inlinepadding"">Measured item is:</p>
                        <%for(var i = 0; i < obj.enums.measurement.shape.length; i++) { %>
                        <% var shape = obj.enums.measurement.shape[i];%>
                        <input type="radio" name="shape" data-shape="<%= shape %>" id="radio<%= shape %>"> <%= shape %>
                        <%}%>
                    </div>

                    <div class="row">
                        <br>
                        <!--Adds in Dimentions-->
                        <%for (var i = 0; i < obj.dimen.length; i++ ) { %>
                        <div class="col-sm-6">
                            <div id="measurements">
                                <label><strong> <%= obj.dimen[i] %>: </strong></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" name="measure" data-dimen="<%= obj.dimen[i] %>" disabled>
                                    <span class="input-group-addon"> in </span>
                                </div>
                            </div>
                        </div>
                        <% } %>
                    </div>

                </div>
            </div>
        </script>

        <script type="text/template" class="template" id="tmplConditions">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-1">
                    <br>
                    <!--Adds Condition options-->
                    <p><strong>Condition</strong><em> ( Select One ) </em></p>
                    <div class="inlinepadding">
                        <% for (var i = 0; i < obj.enums.condition.description.length; i++){ %>
                        <% var x = obj.enums.condition.description[i]%>
                            <input type="radio" name="cond" class="condition" data-condition="<%=x%>" id="radio<%= x %>"> <%= x %>
                        <% }; %>
                    </div>
                </div>
            </div>

            <br>
            <div class="col-sm-6 col-sm-offset-1">
                <!--Save Button-->
                <button class="btn btn-primary" type="button">
                    <span class="glyphicon glyphicon-floppy-save"></span> Save
                </button>
            </div>
        </script>

    </body>
</html>